<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Wanna Learn More About Me!</h2>
                <hr class="light">
                <p class="text-faded">Love Technology!!  Love Gaming!! Love Binge watching popular movies and series!! Love reading Science fiction novels!! </p>
                <p class="text-faded">Wanna Suggest Something! Ping me, I would love to hear about any suggestions or discussions related to the above topics!!</p>
                <p class="text-faded">An Undergrad in <b>Computer Science and Engineering</b> at <b>IIT Bombay!</b></p>
                <a href="http://www.adarsh0raj.pythonanywhere.com" class="btn btn-default btn-xl" target="_blank">A BlogSite Made By Me</a>
            </div>
        </div>
    </div>
</section>
