<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Adarsh Raj</h1>
            <hr>
            <p>An <b>Undergrad of CSE at IIT Bombay</b> (Currently Working at <a href="https://devcom-iitb.org">DevCom, IIT Bombay</a>), Into Dev and Coding a lot, Video Games Lover, Exploring Basics of Graphic Designing and Content Creation!!!</p>
            <a href="../pdfs/resume.pdf" target="_blank" class="btn btn-primary btn-xl page-scroll">Resume/CV</a>
        </div>
    </div>
</header>
