<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Adarsh Raj</h1>
            <hr>
            <p>An <b>Undergrad of CSE at IIT Bombay</b> (Currently Working at <a href="https://www.facebook.com/devcom.iitbombay/">DevCom, IIT Bombay</a>), Into Dev and Coding a lot, Video Games Lover, Exploring Basics of Graphic Designing and Content Creation!!!</p>
            <a href="https://docs.google.com/document/d/153YiuwmHSUM9dNYbsaSIMKlcVOgk6K3k1V2MkT9Lgr8/edit?usp=sharing" class="btn btn-primary btn-xl page-scroll">Resume/CV</a>
        </div>
    </div>
</header>
